In [1]:
import numpy as np
import pandas as pd
#import functools

In [2]:
head=["oname","av","avlo","avhi","lbol","lbollo","lbolhi","ra","dec"]

oname=["NGC12314","NGC35374","NGC884791"]
av=[0.12,0.00,1.2]
avlo=[0.1,0.0,0.2]
avhi=[0.2,0.1,0.2]
lbol=[45.1,44.2,43.7]
lbollo=[0.3,0.4,0.2]
lbolhi=[0.3,0.2,0.3]
ra=[10.625, 15.3, 20.2]
dec=[41.2, 44.3,40.2]
data = {"oname":oname,"av":av,"avlo":avlo,"avhi":avhi,"lbol":lbol,"lbollo":lbollo,"lbolhi":lbolhi,"ra":ra,"dec":dec}

In [3]:
dff = pd.DataFrame(data)
dff

       oname    av  avlo  avhi  lbol  lbollo  lbolhi      ra   dec
0   NGC12314  0.12   0.1   0.2  45.1     0.3     0.3  10.625  41.2
1   NGC35374  0.00   0.0   0.1  44.2     0.4     0.2  15.300  44.3
2  NGC884791  1.20   0.2   0.2  43.7     0.2     0.3  20.200  40.2

In [69]:
class DataframeToLatex:
    def __init__(self, df):
        # Creating the Class with the DataFrame info and the basic tabular format
        self.df = df
        self.head = {}
      
    def format_coltab(self,vline="simple"):
        # Formating the columns
        self.tab_init=r"""
\begin{center}
\begin{tabular}"""
        if vline == "simple":
            coltab="{"+"|c"*len(self.df.columns)+"|}\n" 
        elif vline == "none":
            coltab="{"+"c"*len(self.df.columns)+"}\n"
        elif vline == "double":
            coltab="{"+"||c"*len(self.df.columns)+"||}\n"
        else:
            print("vline comand invalid, assuming the standard")
            
        self.tab_end=r"""\end{tabular}
\end{center}
        """
        self.tab_init+=coltab 
    
    def rounding_num(self,num,sci_pos=6,round_int=3,sci_neg=-4,decimal=2):
        if type(num) == str:
            return num
        elif num == 0:
            rounded=str(num )
        elif np.log10(num) >= sci_pos:
            rounded=str(round(num/10**int(np.log10(num)),decimal))+"\times 10^{"+str(round(np.log10(num)))+"}"
        elif np.log10(num) >= round_int:
            rounded=round(num)
        elif np.log10(num) > 0:
            rounded=round(num,decimal) 
        elif np.log10(num) > sci_neg:
            rounded=round(num,-int(np.log10(num)-decimal))
        else:
            rounded=str(round(num/10**int(np.log10(num)-1),decimal))+" times 10^{"+str(round(np.log10(num)))+"}"
        
        return str(rounded)
    
    def col_text(self,val,text):
        class HeaderError(Exception):
            pass
        # Add the text to be put in the header for the column "val"
        if type(text)==str:
            self.head[val]=text
        else:
            raise HeaderError("The column text must be a string")
    
    def hline_format(self,line):
        if line == "simple":
            lineformat="\hline"
        elif line == "none":
            lineformat=""
        elif line == "double":
            lineformat="\hline\hline"
        else:
            print(f"''{str(line)}'' comand invalid, assuming simple")
            lineformat="\hline"
        return lineformat
        
    def print_head(self,row):
        # Printing the header
        row_str=""
        rows=list(map(self.rounding_num,row))
        data_rows=[self.head.get(el,el) for el in rows]
        row_str+= " & ".join(data_rows)+r" \\" 
        return row_str
    
    def print_row(self,row):
        # Printing a single row
        row_str=""
        rows=list(map(self.rounding_num,row))
        row_str+= " & ".join(rows)+r" \\"
        return row_str
    
    def printing(self,vline="simple",hline="simple",hline_head="double"):
        # Main function to print the complete LaTeX table
        self.format_coltab(vline) # Creating the table format
        tb=""
        # print header
        hlineh=self.hline_format(hline_head)
        tb+=self.tab_init
        tb+=self.print_head(self.df.columns)+hlineh+"\n"
        hline_row=self.hline_format(hline)
        for row in range(len(dff)):
            tb+=self.print_row(self.df.values[row])+hline_row+"\n"
        return tb+self.tab_end

In [70]:
survey = DataframeToLatex(dff)

In [71]:
survey.col_text("av","A_V")
survey.col_text("ra","RA (deg)")
survey.col_text("oname","Interesting Object")

In [72]:
print(survey.printing())

\begin{center}
\begin{tabular}{|c|c|c|c|c|c|c|c|c|}
Interesting Object & A_V & avlo & avhi & lbol & lbollo & lbolhi & RA (deg) & dec \\\hline\hline
NGC12314 & 0.12 & 0.1 & 0.2 & 45.1 & 0.3 & 0.3 & 10.62 & 41.2 \\\hline
NGC35374 & 0.0 & 0.0 & 0.1 & 44.2 & 0.4 & 0.2 & 15.3 & 44.3 \\\hline
NGC884791 & 1.2 & 0.2 & 0.2 & 43.7 & 0.2 & 0.3 & 20.2 & 40.2 \\\hline
\end{tabular}
\end{center}

In [73]:
print(survey.printing(hline="none",hline_head="simple",vline="none"))

\begin{center}
\begin{tabular}{ccccccccc}
Interesting Object & A_V & avlo & avhi & lbol & lbollo & lbolhi & RA (deg) & dec \\\hline
NGC12314 & 0.12 & 0.1 & 0.2 & 45.1 & 0.3 & 0.3 & 10.62 & 41.2 \\
NGC35374 & 0.0 & 0.0 & 0.1 & 44.2 & 0.4 & 0.2 & 15.3 & 44.3 \\
NGC884791 & 1.2 & 0.2 & 0.2 & 43.7 & 0.2 & 0.3 & 20.2 & 40.2 \\
\end{tabular}
\end{center}

In [74]:
survey.col_text("avlo",4)

HeaderError: The column text must be a string